html,
body {
  margin: 0;
  padding: 0;

  min-height: 100%;

  background: #fff9e9;
}

body {
  font-family:
    'Times New Roman',
    sans-serif;

  -webkit-font-smoothing: antialiased;
}

button {
  font-family: times new roman, serif;
}